{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "indent": ["error", "tab"],
    "no-tabs": 0,
    "react/jsx-indent": ["warn", "tab"],
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
    "react/jsx-filename-extension": 0,
    "max-len": 0
  }
}