{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", "tab"],
    "no-tabs": 0,
    "react/jsx-indent": ["warn", "tab"],
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }]
  }
}